data/

model/

logs/

*.tmp

*.log

venv/

env/

img/

__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.db
*.sqlite3

[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj